.vis-container {
    width: 100%;
}

.page {
    width: 1000px;
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
}


h1{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 1000px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
}

h2{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    background-color: #1d2130;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 10px;
}

.pp{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 600px;
    padding-left: 200px;
    font-size: 20px;
}
.p1{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

/* p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 600px;
    padding-left: 200px;
    font-size: 20px;
} */

.background{
    background-color: #1d2130;
}

.map-container{
    width: 100%;
    padding-left: 100px;
}

.line-chart{
    width:100%;
    padding-left:13px;
    padding-bottom: 20px;
}

#donut{
    width: 100%;
    padding-left: 15px;
}

#bar{
    width: 100%;
    padding-left: 15px;
}

.deaths{
    color: 
    #f73434;    
}
.good{
    color: #27f24c;
}
.pfizer{
    color: #2c6aa5;
}

.adult{
    color: #79addc;
}

.child{
    color: rgb(99, 211, 112);
}

.ad{
    color:#fa9a66;
}

.elder{
    color: #ffc505;
}
#map1{
    padding-top:37px;
}
#map2{
    padding-top: 45px;
    padding-bottom:20px;
}

.sidebyside{
    float: left;
    width: 50%;
}
.placeholder{
    padding-top: 100px;
}
.placeholder2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.placeholder3{
    padding-bottom:20px;
}
p1{
    text-align: right;
    font-size: medium;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}


p2{
    text-align: center;
    font-size: x-small;
    font-family: 'Roboto', sans-serif;
}
